
:root {
    --primary-color: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
  }
nav {
    margin-left: 240px;
    margin-right: 240px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo{
    display: flex;
}
.logo-text{
    margin-left: 10px;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.g{
    background: var(--primary-color);
    -webkit-background-clip: text;
    color: transparent;
}

  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .link {
    margin-left: 20px;
    text-decoration: none;
    color:black;
  }

  .last-link {
    display: flex;
    align-items: center;
    background-color: #0B02231A;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  #youtube-icon{
    padding: 5px;
    color: red;
    margin-left: 5px;
  }
  #tiktok-icon {
    padding: 5px;
    color: black;
    margin-left: 5px;
  }
  